*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
}


body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #dadadade; 
}


.fon {
  top: 80px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -1; 
  opacity: 0.8;
}



.main-name{
  color: rgb(22, 2, 88);
  font-size: 47px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 100px auto;
}

.vibor {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  margin: -30px auto 100px auto;
  cursor: pointer;
  transition: color 0.3s ease;
  align-items: center; 
}

.vibor a, .vibor pre {
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center; 
}


.vibor pre {
  font-size: inherit; /* Унаследовать размер шрифта от родителя */
  line-height: 1; /* Установить одинаковую высоту строки */
  margin: 0 10px;
}

a:hover {
  border-bottom: 1px solid;
  background: #aac7fe;
  border-radius: 50px;
  width: 180px;
}

a:active {
  background: #012653;
  color: #aadffe;
}



.calc{
  width: 80%;
  max-width: 1750px;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  gap: 10%;
  flex-direction: column;
}

.one{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10%;
  color: black;
  background-color: #36629730;
  border-radius: 15px;
  padding: 20px 20px 20px 20px;
}

.inputs{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.inputs input{
  align-items: center;
  font-size: 15px;
  width: 200px;
  height: 37px;
}

.two{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  justify-content: space-evenly;
  margin: 70px auto 0 auto;
}

.two button{
  font-size: 20px;
  border-radius: 40px;
  padding: 10px 15px;
}

.yes{
  color: #000000;
  border-color: #012653;
}
.yes:hover{
  background: #aac7fe;
  cursor: grab;
}
.yes:active{
  background: #012653;
  color: #aadffe;
  cursor: grabbing;
}


.no{
  color: #000000;
  border-color: #012653;
}
.no:hover{
  background: #aac7fe;
  cursor: grab;
}
.no:active{
  background: #012653;
  color: #aadffe;
  cursor: grabbing;
}



.spisok select{
  width: 250px;
  height: 37px;
}



.answer {
  padding: 20px;
  font-size: 18px;
  color: black;
  height: 10px;
  margin: 40px auto;
  background-color: rgba(245, 248, 251, 0.477);
  border-radius: 40px;
  width: auto;
  align-items: center;
}


.expl {
  width: 80%;
  max-width: 1000px;
  margin: 50px auto;
  padding: 30px;
  background-color: #01265339; 
  border-radius: 10px;
  color: black;
  white-space: pre-wrap; /* Сохраняет переносы строк (\n) */
  line-height: 30px;
}



.expl p {
  margin: 15px 0;
  font-family: monospace;
  line-height: 1.5;
}


